@using NBJAcademy.Services
@inherits LayoutComponentBase

<div class="flex-layout">
    <SiteHeader />
    <main class="site-main">
        <ErrorBoundary>
            @Body
        </ErrorBoundary>
    </main>
    <SiteFooter />
</div>