.contactus-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    height: 100%;
}

.contact-block {
    border-radius: 16px;
    padding: 2rem 2.5rem;
    box-shadow: 0 4px 24px rgba(31,38,135,0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 300px;
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    .contact-methods {
        display: flex;
        flex-direction: row;
        gap: 0.5rem; /* space between icons */
        justify-content: center;
        align-items: center;
    }
}
