@page "/findus"

<PageTitle>Find Us</PageTitle>

<HeadContent>
    <meta name="description" content="Find NBJ Academy at 2/30 Hammond Rd, Cockburn Central WA 6164. View our location and directions to the gym." />

    <meta property="og:title" content="Find Us - NBJ Academy" />
    <meta property="og:description" content="Visit NBJ Academy in Cockburn Central, WA. Get directions and see our location on the map." />
    <meta property="og:image" content="https://nbjacademy.com/images/nbjlogotransparant.png" />
    <meta property="og:url" content="https://nbjacademy.com/findus" />

    <meta name="twitter:title" content="Find Us - NBJ Academy" />
    <meta name="twitter:description" content="Find NBJ Academy in Cockburn Central, WA. View our location and directions." />
    <meta name="twitter:image" content="https://nbjacademy.com/images/nbjlogotransparant.png" />
    <meta name="twitter:card" content="summary_large_image" />
</HeadContent>


<div class="findus-container">
    <div class="location-icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="#e50000" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C7.58 2 4 5.58 4 10c0 5.25 7.11 11.54 7.42 11.79.32.27.84.27 1.16 0C12.89 21.54 20 15.25 20 10c0-4.42-3.58-8-8-8zm0 15.88C10.09 16.09 6 12.36 6 10c0-3.31 2.69-6 6-6s6 2.69 6 6c0 2.36-4.09 6.09-6 7.88zM12 7a3 3 0 100 6 3 3 0 000-6z" />
        </svg>
    </div>
    <div class="address">
        <div>4/87 Erceg Road,</div>
        <div>Yangebup WA 6164</div>
    </div>
    <div class="map-container">
        @if (isMapLoading)
        {
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
        }
        <iframe width="100%"
                height="300"
                style="border:0;"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.0385228638397!2d115.83990610000001!3d-32.1222619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32999397552081%3A0x33aea716e765b903!2sNBJ%20Academy%20%7C%20Brazilian%20Jiu%20Jitsu!5e0!3m2!1sen!2sau!4v1755065142338!5m2!1sen!2sau&z=15"
                @onload="OnMapLoaded" />
    </div>
</div>

@code {
    private bool isMapLoading = true;

    private void OnMapLoaded()
    {
        isMapLoading = false;
    }
}