@page "/"

@* @inject IJSRuntime JS *@

<PageTitle>Home</PageTitle>

<div class="page-background"/>

<div class="home-flex-table">
    <div class="home-flex-item">
        <img src="images/nbjteampic1.jpg" alt="NBJ Team Picture" class="home-img" />
    </div>
    <div class="home-flex-item">
        <img src="images/nalloy1.jpg" alt="Nalloy" class="home-img" />
    </div>
    <div class="home-flex-item">
        <img src="images/kidsclass1.jpg" alt="Kids Sparring" class="home-img" />
    </div>
    <div class="home-flex-item">
        <img src="images/nbjteampic2.jpg" alt="NBJ Team Picture" class="home-img" />
    </div>
    <div class="home-flex-item">
        <img src="images/kidsclass2.jpg" alt="Kids Sparring" class="home-img" />
    </div>
</div>

@* 
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("setParallax", ".page-background");
        }
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("removeParallax");
    }
} *@