@page "/timetable-option2"

<PageTitle>Timetable</PageTitle>

<HeadContent>
    <meta name="description" content="Check out the NBJ Academy class timetable for kids and adults. See our weekly schedule and class times." />

    <meta property="og:title" content="Timetable - NBJ Academy" />
    <meta property="og:description" content="View the NBJ Academy timetable for kids and adult Brazilian Jiu Jitsu classes in Cockburn Central." />
    <meta property="og:image" content="https://nbjacademy.com/images/nbjlogotransparant.png" />
    <meta property="og:url" content="https://nbjacademy.com/timetable" />

    <meta name="twitter:title" content="Timetable - NBJ Academy" />
    <meta name="twitter:description" content="See the NBJ Academy class schedule for kids and adults. Find your next BJJ class." />
    <meta name="twitter:image" content="https://nbjacademy.com/images/nbjlogotransparant.png" />
    <meta name="twitter:card" content="summary_large_image" />
</HeadContent>

<div class="timetable-container">
    <h1 class="timetable-title">Timetable</h1>
    
    <div class="timetable-table-wrapper">
        <table class="timetable-table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Class Type</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="day-row">
                    <td rowspan="2" class="day-cell">Monday</td>
                    <td class="class-type kids">Kids</td>
                    <td class="time-cell">6:30pm - 7:30pm</td>
                </tr>
                <tr>
                    <td class="class-type adults">Adults</td>
                    <td class="time-cell">7:30pm - 8:30pm</td>
                </tr>
                
                <tr class="day-row">
                    <td rowspan="2" class="day-cell">Tuesday</td>
                    <td class="class-type warriors">Little Warriors <span class="age-badge">(Age: 3-5)</span></td>
                    <td class="time-cell">5:45pm - 6:15pm</td>
                </tr>
                <tr>
                    <td class="class-type kids">Kids</td>
                    <td class="time-cell">6:15pm - 7:15pm</td>
                </tr>
                
                <tr class="day-row">
                    <td rowspan="2" class="day-cell">Wednesday</td>
                    <td class="class-type kids">Kids</td>
                    <td class="time-cell">5:00pm - 6:00pm</td>
                </tr>
                <tr>
                    <td class="class-type adults">Adults</td>
                    <td class="time-cell">6:00pm - 7:00pm</td>
                </tr>
                
                <tr class="day-row">
                    <td rowspan="2" class="day-cell">Friday</td>
                    <td class="class-type warriors">Little Warriors <span class="age-badge">(Age: 3-5)</span></td>
                    <td class="time-cell">5:45pm - 6:15pm</td>
                </tr>
                <tr>
                    <td class="class-type adults">Adults</td>
                    <td class="time-cell">6:15pm - 7:15pm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
