@page "/timetable"

<PageTitle>Timetable</PageTitle>

<div class="page-container">
    <div class="timetable-flex">
        <div class="day-section">
            <h2>Monday</h2>
            <div class="class-time">Kids class / 6:30pm</div>
            <div class="class-time">Adults class / 7:30pm</div>
        </div>
        <div class="day-section">
            <h2>Wednesday</h2>
            <div class="class-time">Kids class / 6:30pm</div>
            <div class="class-time">Adults class / 7:30pm</div>
        </div>
    </div>
</div>